textarea{
    border: 1px solid #404050;
    box-sizing: border-box;
    height: 138px;
    width: 100%;
    background: #2f3344;
    padding: 5px;
}

.upd-btn{
    padding-top: 1rem;
  button{
    color: #07A1C0;;
    border: 1px solid;
    border-radius: 10px;
    padding: 9px 40px;
  }
}
.out {
  background: rgba(239, 73, 73, 0.15);
}

.in {
  background: #ef4949;
  border: 1.44444px solid #151929;
}

.custom-select{
  height: 45px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 1em;
  padding-right: 1em;
  background-image: linear-gradient(0deg,#3f3f3f,#3f3f3f 33%);
  background-repeat: no-repeat,no-repeat,no-repeat,no-repeat;
  background-size: 1px 100%,20px 22px,20px 22px,20px 100%;
  background-position: right 34px center,100% 100%,100% 100%,100% 100%;
  -webkit-appearance: none;
  background: #2F3344;
  border: 1px solid #404050;
  border-radius: 8px;
  position: relative;
  &:after{
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    border: solid #ede9e9;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    right: 1em;
    top: 45px;
  }
}

.defer-input{
    height: 45px;
   
background: #2F3344;
border: 1px solid #404050;
border-radius: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 1em;
}