// .main{
//     height: 100vh;
//     width: 100vw;
//     background-color: #151929;
// }

.bord {
  border: 1px solid #34394e;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.out {
  background: rgba(239, 73, 73, 0.15);
}

.in {
  background: #ef4949;
  border: 1.44444px solid #151929;
}
